name: Deploy Frontend

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v0.1.7
        with:
          host:     ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key:      ${{ secrets.SSH_KEY }}
          script: |
            cd /home/mzakbar/apps/tennis-book
            git pull
            npm install
            npm run build
            sudo systemctl restart ${{ secrets.FRONTEND_SERVICE_NAME }}.service
            sudo systemctl status ${{ secrets.FRONTEND_SERVICE_NAME }}.service --no-pager
